USE [master]
GO
/****** Object:  Database [Laboratorio_MateInfe]    Script Date: 25/07/2026 14:16:27 ******/
CREATE DATABASE [Laboratorio_MateInfe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Laboratorio_MateInfe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Laboratorio_MateInfe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Laboratorio_MateInfe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Laboratorio_MateInfe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Laboratorio_MateInfe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Laboratorio_MateInfe]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 25/07/2026 14:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Edad] [tinyint] NOT NULL,
	[Sexo] [char](1) NOT NULL,
	[EstaturaMetros] [decimal](3, 2) NOT NULL,
	[IMC] [decimal](4, 1) NOT NULL,
	[PresionSistolica] [smallint] NOT NULL,
	[PresionDiastolica] [smallint] NOT NULL,
	[PesoKg] [decimal](5, 1) NOT NULL,
	[HorasTrabajoDia] [tinyint] NOT NULL,
	[EstadoCivil] [nvarchar](30) NOT NULL,
	[Trabajo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PersonasMuestra]    Script Date: 25/07/2026 14:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista con la presión arterial en el mismo formato que el archivo de Excel.
CREATE VIEW [dbo].[vw_PersonasMuestra]
AS
SELECT
    IdPersona,
    Nombre,
    Edad,
    Sexo,
    EstaturaMetros,
    IMC,
    CONCAT(PresionSistolica, '/', PresionDiastolica) AS PresionArterial,
    PesoKg,
    HorasTrabajoDia,
    EstadoCivil,
    Trabajo
FROM dbo.Personas;
GO
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([IdPersona], [Nombre], [Edad], [Sexo], [EstaturaMetros], [IMC], [PresionSistolica], [PresionDiastolica], [PesoKg], [HorasTrabajoDia], [EstadoCivil], [Trabajo]) VALUES (1, N'Ana Pérez', 46, N'F', CAST(1.69 AS Decimal(3, 2)), CAST(31.8 AS Decimal(4, 1)), 121, 68, CAST(90.8 AS Decimal(5, 1)), 12, N'Divorciado(a)', N'Contador')
INSERT [dbo].[Personas] ([IdPersona], [Nombre], [Edad], [Sexo], [EstaturaMetros], [IMC], [PresionSistolica], [PresionDiastolica], [PesoKg], [HorasTrabajoDia], [EstadoCivil], [Trabajo]) VALUES (2, N'Luis Pérez', 25, N'M', CAST(1.90 AS Decimal(3, 2)), CAST(23.9 AS Decimal(4, 1)), 110, 77, CAST(86.3 AS Decimal(5, 1)), 10, N'Divorciado(a)', N'Chofer')
INSERT [dbo].[Personas] ([IdPersona], [Nombre], [Edad], [Sexo], [EstaturaMetros], [IMC], [PresionSistolica], [PresionDiastolica], [PesoKg], [HorasTrabajoDia], [EstadoCivil], [Trabajo]) VALUES (3, N'María Pérez', 29, N'F', CAST(1.82 AS Decimal(3, 2)), CAST(26.5 AS Decimal(4, 1)), 134, 73, CAST(87.8 AS Decimal(5, 1)), 12, N'Unión libre', N'Administrador')
SET IDENTITY_INSERT [dbo].[Personas] OFF
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_Edad] CHECK  (([Edad]>=(0) AND [Edad]<=(120)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_Edad]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_Estatura] CHECK  (([EstaturaMetros]>=(0.50) AND [EstaturaMetros]<=(2.50)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_Estatura]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_HorasTrabajo] CHECK  (([HorasTrabajoDia]>=(0) AND [HorasTrabajoDia]<=(24)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_HorasTrabajo]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_IMC] CHECK  (([IMC]>(0)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_IMC]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_Peso] CHECK  (([PesoKg]>(0)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_Peso]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_PresionDiastolica] CHECK  (([PresionDiastolica]>=(30) AND [PresionDiastolica]<=(150)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_PresionDiastolica]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_PresionSistolica] CHECK  (([PresionSistolica]>=(50) AND [PresionSistolica]<=(250)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_PresionSistolica]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CK_Personas_Sexo] CHECK  (([Sexo]='M' OR [Sexo]='F'))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CK_Personas_Sexo]
GO
USE [master]
GO
